/* https://www.youtube.com/watch?v=SLfhMt5OUPI */
* {
    box-sizing: border-box;
    color: #cdd6f4;
}
.nav-title {
    font-size: 2rem;
    margin: 0.5rem;
}
.nav {
    background-color: #1e1e2e;
    /* background: linear-gradient(to top,#11111B 0%, #1e1e2e 75%); */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.nav li {
    padding: 0 1rem;
    transition: 0.4s;
}
.nav li.active{
    background-color: #585b70;
}
.nav li:hover{
    background-color: #45475a;
}
.nav a {
    color: inherit; 
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: .25rem;
}
