* {
    color: #cdd6f4;
}
.welcome {
    text-align: center;
}
.welcome p {
    margin: 0 3rem;
    background-color: #585b70;
    display: inline-block;
    padding: 2rem;
    border-radius: 1rem;
}
